<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="contractService" class="mobileoffice.business.services.ContractServiceImpl">
        <constructor-arg ref="contractRepository"></constructor-arg>
    </bean>


    <import resource="beans.dao.xml"/>
</beans>