html, body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.working-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.main-declaration{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-declaration p {
    margin: 5px;
    font-size: 45px;
    font-weight: bold;
}

.secondary-declaration{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.secondary-declaration p {
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}
.main-toolbar{
    display: flex;
    flex-direction: row;
    flex: 0 0 60px;
    justify-content: space-between;
    background: #B9B8B8;
    align-items: center;
    padding: 0 15px;
}
.main-toolbar .logo {
    font-size: 30px;
    font-weight: bold;
}