.form-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-wrapper.tariffs-form, .form-wrapper.options-form{
    align-items: flex-start;
    justify-content: flex-start;
}
.form-wrapper.new-client-form{
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
}
.form-wrapper.new-client-form > .input-container {
    width: 100%;
}
.form {
    border: 1px solid black;
}
.form-inner-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.input-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.input-container .label{
    flex: 33;
}
.input-container .input-wrapper{
    flex: 66;
}
.input-container .input-wrapper *{
    width: 100%;
}

.multi-select-list-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.multi-select-list-buttons button{
    flex: 0 0 50px;
}

.form.login-form{
    height: 100px;
    width: 400px;
}
.registration-form{
     height: 200px;
 }
.registration-form.new-client{
    height: 400px;
}
.form-wrapper.login-form{
    justify-content: center;
    align-items: center;
}


